# 0. Pythagorean theorem (*)
a) A right angled triangle has the catheti: a = 3 and b = 4 length units. Compute the hypothenuse of the triangle. (*)

b) A right angled triangle has hypothenuse c = 7.0 and a cathetus a = 5.0 length units. Compute the other cathetus and round to one decimal. (*)

In [14]:
# a)
import math
a = 3
b = 4

c = math.sqrt(a**2 + b**2)
print('The hypothenuse is:' ,c)

# b)

c = 7.0
a = 5.0

b = math.sqrt(c**2 - a**2)

print(f'The cathetus is: {b:.1f}')

The hypothenuse is: 5.0
The cathetus is: 4.9

In [7]:
# Initial values for the year and birds variables
year = 0
birds = 80000

In [16]:
year = 0
birds = 80000
while birds > 8000:  # provide a condition, not the number of looping times with the while statement
    print(f"Currently, this is year {year} and the number of birds is {birds:.0f}")
    birds /= 2 # birds = birds / 2
    print(f"At the end of {year}, the number of birds decreases to {birds:.0f}")
    print()
    year +=1

Currently, this is year 0 and the number of birds is 80000
At the end of 0, the number of birds decreases to 40000

Currently, this is year 1 and the number of birds is 40000
At the end of 1, the number of birds decreases to 20000

Currently, this is year 2 and the number of birds is 20000
At the end of 2, the number of birds decreases to 10000

Currently, this is year 3 and the number of birds is 10000
At the end of 3, the number of birds decreases to 5000

In [1]:
i = 0

while True:
    print(i)
    i += 1

    if i >= 5:
        break

0
1
2
3
4

In [4]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [8]:
for i in range(1, 10, 2):
    print(i, end=" ")

1 3 5 7 9

In [5]:
name = input("What's your name? ")

print("Du heter:", name, ", Fan vad sjukt")

Du heter:  , Fan vad sjukt

In [ ]:
num = int(input("Print a number "))

if num % 2 == 0: # tal % 2 → ger resten när tal delas med 2
    print("Even")
else:
    print("Odd")

Even

In [15]:
password = input("Type your password:")

if password == "python1":
    print(f"Logged in successfully")
else:
    print(f"Try again")

Logged in successfully

In [24]:
lst = [11, 54, 8, 342, 76]

print(max(lst))
print(min(lst))
print(sum(lst))

342
8
491

In [27]:
for i in lst:
    print(i)

11
54
8
342
76

In [99]:
citys = ('Oslo', 'Sthlm', "Bro")

for city in sorted(citys):
    print(city)

Bro
Oslo
Sthlm

In [29]:
sentance = input("Type a sentance")
print(sentance.upper())

HEJ PÅ DIG

In [53]:
tecken = len(sentance)
print(tecken)

10

In [55]:
for letter in sentance[:3]:
    print(letter)

h
e
j

In [14]:
greeting = "hej"


try: 
    (int(greeting))
except ValueError:
    print("Det går inte")

Det går inte

In [17]:
message = input("Skriv något: ")

while True:
    message = input("Skriv ett tal: ")
    try:
        number = int(message)
        print("Rätt!", number)
        break
    except ValueError:
        print("Fel, du måste skriva ett tal")

Rätt! 42

In [24]:
colors = input("Choose one favorite color: ")
colors1 = input("Second favorite color: ")
colors2 = input("Third favorite color: ")

print(f"{colors}, {colors1}, {colors2}")

blue, black, red

In [25]:
num = int(input("Skriv ett tal: "))

if num < 10:
    print("Litet tal")
else:
    print("Stort tal")

Litet tal

In [44]:
numberr = int(input("Skriv ett tal: "))

for i in range(1, 11):
    print(i * numberr)

7
14
21
28
35
42
49
56
63
70

In [46]:
secret_animal = input("Gissa djuret: ")

if secret_animal == "zebra":
    print("Rätt")
else:
    print("Försök igen")

Rätt

In [47]:
num1 = int(input("Nummer 1"))
num2 = int(input("Nummer 2"))

sum = num1 + num2

print(sum)

238

In [77]:
names = ["Dag", "Hans", "Bo", "Klara"]

print(names[0])
print(names[3])
print(names[0:4])

Dag
Klara
['Dag', 'Hans', 'Bo', 'Klara']

In [78]:
animals = ["Cow", "Chicken", "Rabbit"]

print(len(animals))

3

In [89]:
nummer = [1, 2, 3, 4, 5]

for i in nummer:
    print(i ** 2)

1
4
9
16
25

In [101]:
months = ("April", "Februari", "September")

for month in sorted(months):
    print(month)

April
Februari
September

In [116]:
fruits = ['banana', 'apple', 'grape', 'orange']

fruits[2] = 'pear'
fruits

['banana', 'apple', 'pear', 'orange']

# OOP - Object oriented programming

In [24]:
class Dog:
    def __init__(self, name):
        self.name = name
        print(name)
    def add_one(self, x):
        return x + 1
    def bark(self):
        print("bark")

d = Dog("Tim")
print(d.name)
d2 = Dog("Bill")
print(d2.name)

Tim
Tim
Bill
Bill

<class '__main__.Dog'>