# strings

In [1]:
firstname = "Kokchun"
lastname = "Giang"

fullname = firstname + " " + lastname
fullname

'Kokchun Giang'

In [7]:
work = "ALgineer AB"
address = "Supah cool street"
phone = "112"

contact_details = f"""
name: {fullname}
work: {work}
address: {address}
phone: {phone}
"""
contact_details

'\nname: Kokchun Giang\nwork: ALgineer AB\naddress: Supah cool street\nphone: 112\n'

In [5]:
print(contact_details)

name: Kokchun Giang
work: ALgineer AB
address: ('Supah cool street',)
phone: 112

In [11]:
menu = ["chili con carne", "noodles", "pokebowl", "pancakes", "taco"]
days = ["mo", "tu", "wed", "thu", "fri"]

weekly_menu = "Weekly menu\n"

for day, food in zip(days, menu):
    weekly_menu += f"{day:<10} {food}\n"
print(weekly_menu)

Weekly menu
mo         chili con carne
tu         noodles
wed        pokebowl
thu        pancakes
fri        taco

In [12]:
quote = "!False - It's funny because it's True"
quote

"!False - It's funny because it's True"

In [17]:
quote[0]

'!'

In [13]:
quote[-1]

'e'

In [14]:
quote[:6]

'!False'

In [16]:
quote[::-1]

"eurT s'ti esuaceb ynnuf s'tI - eslaF!"

In [20]:
string_to_check = "anna"
string_to_check[::-1] == string_to_check

True

# split and cleaning a string

In [24]:
subjects = "Math, biology  , cHeMistry  , Pr0gramming       "
subjects

'Math, biology  , cHeMistry  , Pr0gramming       '

In [25]:
subjects = subjects.split(",")
subjects

['Math', ' biology  ', ' cHeMistry  ', ' Pr0gramming       ']

In [27]:
subjects = [subject.strip().upper() for subject in subjects]
for subject in subjects:
    print(f"{subject} has {len(subject)} characters")

MATH has 4 characters
BIOLOGY has 7 characters
CHEMISTRY has 9 characters
PR0GRAMMING has 11 characters

# regex

In [28]:
import re

text = "Det var en g책ng en katt som tog p책 sig en hatt."
match_list = re.findall(f".att", text)
match_list

['katt', 'hatt']

In [32]:
personal_numbers = "Ida: 19959516-2235, Berit: 19581212-3213, Ada: 050524-1513"
match_long = re.findall(r"\d{8}-\d{4},", personal_numbers)
match_long

['19959516-2235,', '19581212-3213,']

In [35]:
match_short = re.findall(r"\d{6}-\d{4}", personal_numbers)
match_short * 4

['959516-2235',
 '581212-3213',
 '050524-1513',
 '959516-2235',
 '581212-3213',
 '050524-1513',
 '959516-2235',
 '581212-3213',
 '050524-1513',
 '959516-2235',
 '581212-3213',
 '050524-1513']

# Lecture 7 - strings

#### Concatenate strings

In [16]:
# concatenate multiple stringswith the + operator
# remember + operator has another meaning when it comes to numeric variables

first_name = 'Kokchun'
last_name = 'Giang'
full_name = first_name + last_name
print(full_name)

KokchunGiang

In [17]:
# concatenate also with " 
full_name_with_space = first_name + " " + last_name # we can replace variable just with " "
print(full_name_with_space)

Kokchun Giang

In [18]:
# multiline f-string for concatenating many strings
work = 'AIngineer AB'
address = "Supah cool street"

# f-string with one line
print(f"{full_name_with_space} is working in a company called {work}, and his address is {address}")

# f-string with multiline
print(f"""{full_name_with_space} is working in a company called {work}. 
      And his address is {address}""")

Kokchun Giang is working in a company called AIngineer AB, and his address is Supah cool street
Kokchun Giang is working in a company called AIngineer AB.
      And his address is Supah cool street

In [19]:
print(f"{full_name_with_space} is working in a company called {work}. \nAnd his address is {address}")

Kokchun Giang is working in a company called AIngineer AB.
And his address is Supah cool street

In [ ]:
# concatenate with loop

fruits_today = " apple" + " orange" + " banana" +  " grape"

print(f"Today's fruits: ", fruits_today)

fruits_today_list = ["apple", "orange", "strawberry"]
for fruit in fruits_today_list:
    print(fruit)

Today's fruits:   apple orange banana grape
apple
orange
strawberry

## Indexing

- an operation to access "an item"
- what is an item in the context of strings it is one of the characters in the string
- we can use []
- slicing is also possible if we want to access multiple characters
- we can use :operator for slicing

In [20]:
# index
print(full_name_with_space)
print(f"The first letter of the string is: {full_name_with_space[0]}")
print(f"The last letter of the string is: {full_name_with_space[-1]}")

Kokchun Giang
The first letter of the string is: K
The last letter of the string is: g

In [21]:
# slicing
print(f"The first five letters of the string are: {full_name_with_space[0:5]}")

print(f"The last five letters of the string are: {full_name_with_space[-1:-6:-1]}")

The first five letters of the string are: Kokch
The last five letters of the string are: gnaiG

In [ ]:
# use len() funtion to check lenght of string
len(full_name_with_space)

13

In [29]:
names = ["lui", "bb"]
addresses = ["jjjj", "oooo"]

for name, address in zip(names, addresses):
    print(name)
    print(address)

lui
jjjj
bb
oooo

# Some common examples to clean strings
- make use of string methods
- a good introduction to many common string methods : https://www.geeksforgeeks.org/python/python-string-methods/
 - syntax of using function on string variable
 -      `len(string_variable`
 - syntax of using method on string variable
 -      `string_variable.upper()`

In [59]:
# split

subjects = "Math, biology   , cheMistry , Pr0gramming    "
subjects = subjects.split(",")
subjects

['Math', ' biology   ', ' cheMistry ', ' Pr0gramming    ']

In [54]:
# strip off leading adn trailing space
# rstrip() and lstrip()

for subject in subjects:
    print(subject.strip())

Math
biology
cheMistry
Pr0gramming

In [58]:
# making upper case letter
# check lower()
for subject in subjects:
    print(subject.strip().upper())

MATH
BIOLOGY
CHEMISTRY
PR0GRAMMING

# Regular expression

- look for a pattern
- make use of different functions in `re` package
- syntax of using functions from an imported package
    - `re`, `findall`
    - `imported_package.function()` 
- check out w3chools re tutorial to learn more symbols from patterns

In [61]:
import re

In [64]:
text =  "Det var en g책ng en hatt som tog p책 sig en hatt"

list_letter_att = re.findall("att", text) # the first argument is the pattern,
# the second part is where I to find the pattern
list_letter_att

['att', 'att']

In [65]:
list_word_att = re.findall(".att", text)

list_word_att

['hatt', 'hatt']

In [70]:
personal_number = "Ida: 19990816-2235, Berit: 20501231-3231"

personal_number_eight = re.findall(r"\d{8}-\d{4},", personal_number) # r for raw string

personal_number_eight

['19990816-2235,']

In [71]:
personal_number_six = re.findall(r"\d{6}-\d{4},", personal_number) # r for raw string

personal_number_six

['990816-2235,']