# strings

In [1]:
firstname = "Kokchun"
lastname = "Giang"

fullname = firstname + " " + lastname
fullname

'Kokchun Giang'

In [7]:
work = "ALgineer AB"
address = "Supah cool street"
phone = "112"

contact_details = f"""
name: {fullname}
work: {work}
address: {address}
phone: {phone}
"""
contact_details

'\nname: Kokchun Giang\nwork: ALgineer AB\naddress: Supah cool street\nphone: 112\n'

In [5]:
print(contact_details)

name: Kokchun Giang
work: ALgineer AB
address: ('Supah cool street',)
phone: 112

In [11]:
menu = ["chili con carne", "noodles", "pokebowl", "pancakes", "taco"]
days = ["mo", "tu", "wed", "thu", "fri"]

weekly_menu = "Weekly menu\n"

for day, food in zip(days, menu):
    weekly_menu += f"{day:<10} {food}\n"
print(weekly_menu)

Weekly menu
mo         chili con carne
tu         noodles
wed        pokebowl
thu        pancakes
fri        taco

In [12]:
quote = "!False - It's funny because it's True"
quote

"!False - It's funny because it's True"

In [17]:
quote[0]

'!'

In [13]:
quote[-1]

'e'

In [14]:
quote[:6]

'!False'

In [16]:
quote[::-1]

"eurT s'ti esuaceb ynnuf s'tI - eslaF!"

In [20]:
string_to_check = "anna"
string_to_check[::-1] == string_to_check

True

# split and cleaning a string

In [24]:
subjects = "Math, biology  , cHeMistry  , Pr0gramming       "
subjects

'Math, biology  , cHeMistry  , Pr0gramming       '

In [25]:
subjects = subjects.split(",")
subjects

['Math', ' biology  ', ' cHeMistry  ', ' Pr0gramming       ']

In [27]:
subjects = [subject.strip().upper() for subject in subjects]
for subject in subjects:
    print(f"{subject} has {len(subject)} characters")

MATH has 4 characters
BIOLOGY has 7 characters
CHEMISTRY has 9 characters
PR0GRAMMING has 11 characters

# regex

In [28]:
import re

text = "Det var en gång en katt som tog på sig en hatt."
match_list = re.findall(f".att", text)
match_list

['katt', 'hatt']

In [32]:
personal_numbers = "Ida: 19959516-2235, Berit: 19581212-3213, Ada: 050524-1513"
match_long = re.findall(r"\d{8}-\d{4},", personal_numbers)
match_long

['19959516-2235,', '19581212-3213,']

In [ ]:
match_short = re.findall(r"\d{6}-\d{4}", personal_numbers)
match_short * 4

['959516-2235', '581212-3213', '050524-1513']